body
{
    background-image: url(images/fgt.jpg);
}
a 
{
    color: rgb(255, 136, 0);
    font-size: 36px;
}
div
{
    color: #2285f5;
}
#logo
{
    margin-left: 30%;
    transition: 4s all;
}
#logo:hover
{
    transform: rotate(360deg);
}
.address
{
    font-size: 36px;
    font-weight: 600;
}
.miem
{
    color: orange;
}
.hse
{
    color: blue;
}
.lms
{
    color: purple;
}
.human
{
    color: #a4b020;
}
.animal
{
    color: rgb(168, 12, 142)
}
.message
{
    color: black;
    background-color: hotpink;
    border: 2px solid #323232;
    border-radius: 6px;
    font-size: 22px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    padding-left: 40px;
}
.fail
{
    color: white;
    background-color: #19A15f;
}
.warning
{
    color: black;
    background-color: rgb(255, 255, 0);
}
.message:hover
{
    border: 4px solid #323232;
}
#qwerty
{
    transform: rotate(-5deg) scale(0.9);
    transition: 3s all;
    background-color: chartreuse;
    color: whitesmoke;
    font-size: 25px;
    font-weight: 600;
    border: 3px solid rgb(7, 63, 7);
    padding: 15px;
    margin: 15px;
    opacity: 0.8;
    box-shadow: 3px 4px 8px black;
    width: 50%;
    text-align: center;
}
#qwerty:hover
{
    transform: rotate(360deg) scale(0.9);
    background-color: blueviolet;
}